/* Rankit Project */
/* EECS 493 W'14 */

body {
	transition: all 0.7s;
  	-webkit-transition: all 0.7s;
}


a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

.main-container {
	width: 960px;
	margin: 20px auto;
	overflow: hidden;
}

.content-container {
	transition: all 0.7s;
  	-webkit-transition: all 0.7s;
}

.content-container.hidden {
	opacity: 0;
}


#compare-ui, #results-ui {
	display: none;
}




/* ==================================================
    _   __            _             __  _           
   / | / /___ __   __(_)___ _____ _/ /_(_)___  ____ 
  /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/ 
                    /____/                          
===================================================== */

.top-bar {
	margin-top: 25px;
	height: 60px;	
}

.logo {
	float: left;
}

ul.navigation {
	float: right;
	margin-top: 10px;
}

.navigation > li {
	float: left;
}

.login-container {
	float: right;
	margin-top: 10px;
	position: relative;
}

#loggedInMessage {
	display: inline;
	float: left;
}

#drop-down-triangle {
	display: inline;
	float:left;
	background-image: url('../img/drop-down-triangle.png');
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 5px;
	width: 5px;
	position: absolute;
	bottom: 5px;
	margin-left: 4px;

}

#login {
	cursor: pointer;
}



/* ================================
    ___       __    __   __  ______
   /   | ____/ /___/ /  / / / /  _/
  / /| |/ __  / __  /  / / / // /  
 / ___ / /_/ / /_/ /  / /_/ // /   
/_/  |_\__,_/\__,_/   \____/___/

================================== */

.get-title {
	margin-top: 30px;
}

#title, #options, #factors {
	margin-bottom: 8px;
}

.add-options, .add-factors {
	width: 48%;
	margin-top: 20px;
	float: left;
	min-height: 300px;
}

.add-factors {
	margin-left: 4%;
}

.getTitle > h2, .add-options > h2, .add-factors > h2 {
	margin-bottom: 10px;
}

#title-box, #option-box, #factor-box {
	font-size: 18px;
	width: 1000px;
	max-width: 88%;
	font-family: "Helvetica", "Arial", sans-serif;
	background-color: #E0E0E0;
	border: none;
	border-radius: 4px;
	padding: 10px;
	box-sizing: border-box;
	height: 40px;
}

#title-box {
	max-width: 42%;
}

#title-box:focus, #option-box:focus, #factor-box:focus {
	outline: 4px solid #BCBCBC;
}

.list-header {
	font-size: 14px;
	text-transform: uppercase;
	margin: 15px 0 5px 5px;
}

#option-list, #factor-list {
}

#option-list > li, #factor-list > li {
	margin-left: 0px;
	font-size: 18px;
	padding: 5px;
	width: 85%;
	position: relative;
	overflow: scroll;
}

#option-list > li:hover, #factor-list > li:hover {
	background-color: #EEE;
}

#option-list > li:hover .delete-option, #factor-list > li:hover .delete-factor {
	display: block;
}


#option-list > li .opt-name {
	float: left;
	max-width: 350px;
	overflow: scroll;
}

#factor-list > li .fact-name {
	float: left;
	max-width: 200px;
	overflow: scroll;
}

.delete-option, .delete-factor {
	display: none;
	position: absolute;
	width: 25px;
	height: 25px;
	right: 4px;
	top: 5px;
	background-image: url('../img/close-icon.png');
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.factor-slider {
	float: right;
	margin-right: 35px;
	margin-top: 7px;
}

#submit-option, #submit-factor {
	border-radius: 100%;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url('../img/add-icon.png');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

#submit-option:hover, #submit-factor:hover {
	background-image: url('../img/add-icon-2.png');
}

/* ===== Button ===== */
#go-rank {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	clear: both;
}

#go-rank.clickable {
	background-color: #1DAB0A;
	cursor: pointer;
}

.button {
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #BCBCBC;
	line-height: 50px;
	color: white;
	user-select: none;
	-webkit-user-select: none;
	transition: all 0.7s;
  	-webkit-transition: all 0.7s;
}




/* =========================================================
   ______                                         __  ______
  / ____/___  ____ ___  ____  ____ _________     / / / /  _/
 / /   / __ \/ __ `__ \/ __ \/ __ `/ ___/ _ \   / / / // /  
/ /___/ /_/ / / / / / / /_/ / /_/ / /  /  __/  / /_/ // /   
\____/\____/_/ /_/ /_/ .___/\__,_/_/   \___/   \____/___/  

=========================================================== */

#title-wrapper{
	height: 30px;
}

#yourRankit {
	display: inline;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 300;
	color: #5E5E5E;
}

.rankitTitle {
	display: inline;
	color: black;
	height:30px;
	font-size: 20px;
	font-weight: 700;
	margin-left: 5px;
}

#question {
	margin-top: 30px;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	color: #5E5E5E;
}

#decision-factor {
	display: block;
	font-size: 80px;
	font-weight: 900;
	color: #686868;
	overflow: scroll;
}

.choice-container {
	height: 200px;
	overflow: hidden;
}

#choices {
	margin: 50px auto;
	line-height: 95px;
	text-align: center;
	clear: both;
}

.choice {
	background-color: #686868;
	cursor: pointer;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: white;
	display: inline;
	position: relative;
	border-radius: 5px;
	padding: 30px 40px;
	margin: 20px;
	max-width: 180px;
	transition: all 0.3s;
  	-webkit-transition: all 0.3s;
}

.choice:hover {
	background-color: #3B3B3B;
}

#choice1, #choice2 {
	float: left;
}

#progress{
	clear: both;
	margin-top: 15px;
}

#progress-message {
	display: inline;
	color: #5e5e5e;
	font-size: 18px;
}

#progressbar-container {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	background-color: #f4f4f4;
	border-radius: 5px;
}

#progress-bar {
	width: 0%;
	background-color: #c4c4c4;
	height: 50px;
	border-radius: 5px;
}

#skip-to-results {
	cursor: pointer;
	color: #5E5E5E;
	font-size: 14px;
	text-decoration: underline;
	display: inline;
	float: right;
}




/* ===============================================
    ____                  ____          __  ______
   / __ \___  _______  __/ / /______   / / / /  _/
  / /_/ / _ \/ ___/ / / / / __/ ___/  / / / // /  
 / _, _/  __(__  ) /_/ / / /_(__  )  / /_/ // /   
/_/ |_|\___/____/\__,_/_/\__/____/   \____/___/   
                                                  
================================================== */

#result {
	font-size: 90px;
	font-weight: 900;
	color: #686868;
	line-height: 90px;
	max-width: 80%;
	overflow: scroll;
float: left;
}

#random {
	clear:both;
	font-size: 15px;
	font-weight: 300;
	color: #5E5E5E;
}

.result-subheading {
	margin-top: 30px;
	font-size: 30px;
	font-weight: 300;
	color: #5E5E5E;
}

.result-small {
	font-size: 14px;
	color: #5E5E5E;
}

#certainty-container {
	margin-top: 13px;
	max-width: 10%;
	display: inline;
	float: right;
}

#certainty{
	float: right;
	display: block;
}

#certainty-percentage {
	float: right;
	font-size: 50px;
	font-weight: 900;
	line-height: 50px;
	display: block;	
}

#certainty-percentage, #certainty-val {
	color: #686868;
}

#breakdown-container {
	height: auto;
	margin-top: 5px;
	clear: both;
	overflow: hidden;
}

#row-container {
	display: inline;
	height: auto;
	overflow: hidden;
	width: 75%;
	float: left;
}

.option-row {
	display: inline;
	float: left;
	height: 30px;
	width: 100%;
	margin-top: 10px;
}

.option-name-wrapper {
	display: inline;	
	width: 31%;
	float: left;
	margin-right: 17px;
}

.option-name {
	font-size: 24px;
	font-weight: bold;
	color: #686868;
	float: right;
	margin-right: 11px;
}

.factor-graph {
	display: inline;
	width: 65%;
	float: left;
	height: 30px;
}

.factor {
	display: inline;
	background-color: black;
	width:100%;
	float: left;
	height: 30px;
}

#factor-key {
	width: 20%;
	display: inline;
	float: right;
	margin-top: 10px;
}

.factor-color {
	display: inline;
	height: 30px;
	float: left;
	background-color: black;
	width: 16%;
	margin-left: 20px;
}

.factor-name {
	display: inline;
	font-size: 18px;
	color: #5E5E5E;
	width: 97%;
	margin-left: 10px;
}

#finish-ranking {
	cursor: pointer;
	color: #5E5E5E;
	font-size: 14px;
	text-decoration: underline;
	display: block;
	margin-top: 55px;
}

#rank-action-container{
	margin-top: 40px;
	height: 100px;
	text-align: center;
	clear: both;
}

#save-rankit-container, #share-rankit {
	float: left;
	margin-right: 10px;
}

#save-rankit, #share-rankit {
	background-color: #1DAB0A;
	cursor: pointer;
}

#logInPrompt {
	width: 200px;
	color: #FF0000;
	font-size: 17px;
}

/* ==== Graph Stuff ==== */
#graph {
	margin-top: 30px;
	margin-left: -8px;
	padding: 20px;
}

.graphFieldgraph {
	margin: 0px 50px;
}

.graphLabelgraph {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0;
	color: #686868;
	overflow: scroll;
}

.legendLabelgraph {
	font-size: 18px;
	line-height: 35px;
	font-weight: 300;
	padding-left: 40px;
}

#legendHolder2graph {
	margin-right: -20px;
}

.graphValuegraph {
	font-weight: 300;
	display: none;
}



/* ===============================================

   / /_  _________ _      __________ 
  / __ \/ ___/ __ \ | /| / / ___/ _ \
 / /_/ / /  / /_/ / |/ |/ (__  )  __/
/_.___/_/   \____/|__/|__/____/\___/ 

# is a id
. is a class
=============================================== */

.browseBox {
	width: 29%;
	height: 180px; 
	font-size: 18px;
	font-weight: bold;
	border-style: solid;
	border: 1px solid #e0e0e0;  
	padding: 15px;
	color: #5C5B5B;
	display: inline-block;
	box-shadow: 5px #e0e0e0;
	margin: 4px;
}

.browseBox-pic{
	width: 100%;
	height: 80%;
}

.browseBox-title{
	font-size: 20px;
	height: 25px;
	overflow: hidden;
	margin: 0;
}


.browseBox-author{
	font-weight: 300;
}


#myrankit-list{
	width: 800px;
	margin: 0 auto; 
	padding: 10px;
	background-color: #e0e0e0;
	border-radius: 10px;
}

.myrankit-title{
	font-size: 16px;
	font-weight: bold;
}

.myrankit-decision{
	font-size: 14px;
	font-weight: 300;
}

.myrankit-certainty{
	font-size: 14px;
	font-weight: 300;
}

.user-decision{
	font-weight: bold; 
}

.user-certainty{
	font-weight: bold; 
}
